{% extends 'layout/auth.html' %}

{% block title %}Registro{% endblock title %}

{% block auth %}
        {% if messages %}
            <div class="message-err-auth">
                {% for message in messages %}
                        {{message}}
                {% endfor %}
            </div>
        {% endif %}
        {{form.errors}}
    <div class="auth">
       
        <div class="icons">
            <h3 class="register">Register</h3>
            <a href="{% url 'index' %}"><i class="fas fa-home"></i></a>
        </div>
        
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in form %}
                <label>{{field.label}}</label>
                {{field}}
            {% endfor %}

            <input type="submit" value="Registrarme">

            <a href="{% url 'login' %}">¿Ya tienes cuenta? Logeate</a>
        </form>
    </div>
{% endblock auth %}